body {
  margin: 0;
  font-family: 'Cabin', sans-serif;
}

h1 {
  text-align: center;
}

#signupInput,#loginInput {
  border: 1px solid #5d576b;
  font-size: 16px;
  padding: 10px 5px;
  height: 20px;
  margin: 5px;
  width: 298px;
}

#wrapper {
    width: 1000px;
    border: 0px solid red;
    overflow: hidden;
    margin: auto;
}

.navbar {
  overflow: hidden;
  background-color: #000;
  padding-right: 8px;
}

.navbar a {
  float: right;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #f7567c;
}

.dropdown-content {
  right: 0;
  display: none;
  margin-right: 8px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-sec-1{
  float: left;
  max-width: 234px;
  margin: 15px 15px 5px 15px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  clear: left;
}

.dropdown-content a:hover {
  background-color: #99e1d9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#fc-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.smallLogo {
  float: left;
  margin-top: 3px;
  margin-left: 10px;
}

#userDropdownHr {
  width: 230px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* ---------------------- signup.php modal ---------------------- */
.signup-window {
  position: fixed;
  background-color: rgba(200, 200, 200, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.signup-window:target {
  opacity: 1;
  pointer-events: auto;
}

.signup-window>div {
  width: 320px;
  height: 400px;
  position: relative;
  margin: 15% auto;
  padding: 2rem;
  background: #fff;
  color: #444;
}

.signup-window header {
  font-weight: bold;
}

.signup-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.signup-close:hover {
  color: #000;
}

.signup-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}


/* ---------------------- login.php modal ---------------------- */
.login-window {
  position: fixed;
  background-color: rgba(200, 200, 200, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.login-window:target {
  opacity: 1;
  pointer-events: auto;
}

.login-window>div {
  width: 320px;
  height: 400px;
  position: relative;
  margin: 15% auto;
  padding: 2rem;
  background: #fff;
  color: #444;
}

.login-window header {
  font-weight: bold;
}

.login-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.login-close:hover {
  color: #000;
}

.login-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

/* ---------------------- disable account modal (settings.php) ---------------------- */
.removeacct-window {
  position: fixed;
  background-color: rgba(200, 200, 200, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.removeacct-window:target {
  opacity: 1;
  pointer-events: auto;
}

.removeacct-window>div {
  width: 320px;
  height: 400px;
  position: relative;
  margin: 15% auto;
  padding: 2rem;
  background: #fff;
  color: #444;
}

.removeacct-window header {
  font-weight: bold;
}

.removeacct-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.removeacct-close:hover {
  color: #000;
}

.removeacct-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

/* ---------------------- restaurantRequest.php modal ---------------------- */
.rr-window {
  position: fixed;
  background-color: rgba(200, 200, 200, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.rr-window:target {
  opacity: 1;
  pointer-events: auto;
}

.rr-window>div {
  width: 320px;
  height: 400px;
  position: relative;
  margin: 15% auto;
  padding: 2rem;
  background: #fff;
  color: #444;
}

.rr-window header {
  font-weight: bold;
}

.rr-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.rr-close:hover {
  color: #000;
}

.rr-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

/* ------------------------- settings.php ------------------------- */
.leftSection {
    width: 500px;
    min-height: 300px;
    float:left;
    border: 0px solid red;
}
.rightSection {
    border: 0px solid red;
    min-height: 300px;
    overflow: hidden;
}

.settingsBoxWrapper {
  margin: auto;
  width: 350px;
  height: 290px;
  border: 0px solid red;
}

#editUserCredentialsBar {
  background-color: #f7567c;
  color: #FFF;
  font-size:18px;
  width:350px;
  height: 35px;
  text-align: center;
  padding-top:10px
}

#editUserProfilePicBar {
  background-color: #5d576b;
  color: #FFF;
  font-size:18px;
  width:350px;
  height: 35px;
  text-align: center;
  padding-top:10px
}

#editUserPasswordBar {
  background-color: #000000;
  color: #FFF;
  font-size:18px;
  width:350px;
  height: 35px;
  text-align: center;
  padding-top:10px
}

#editUserPrivacyBar {
  background-color: #99e1d9;
  color: #FFF;
  font-size:18px;
  width:350px;
  height: 35px;
  text-align: center;
  padding-top:10px
}

#settingsBox {
  border-bottom: 1px solid #272727;
  border-left: 1px solid #272727;
  border-right: 1px solid #272727;
  padding: 15px 20px;
}

#updateCredentialsBtn:active {
  background-color: #000;
}

#updateCredentialsBtn:hover {
  background-color: #ededed;
  transition: 0.4s;
}

#updateCredentialsBtn {
  font-weight: 500;
  font-size: 14px;
  color: #000;
  padding: 7px 10px;
  border: 0px solid black;
  background-color: #dbdbdb;
}

.deleteButton {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  padding: 7px 10px;
  border: 0px solid black;
  background-color: #f7567c;
}

#firstName, #lastName, #email {
  margin: 5px 0px;
  height: 20px;
  width: 200px;
}

#privacyCheckbox {
  margin-bottom: 10px;
}

#fileBrowseBtn {
  border: 1px solid #5c5c5c;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 5px;
  background-color: #a5e1f2;
  cursor: default !important;
}

#fileBrowseBtn:hover {
  background-color: #adedff;
  transition: 0.4s;
}

#p1 {
  color: green;
}

#cancelBtn {
  font-weight: 500;
  font-size: 14px;
  color: black;
  text-decoration: none;
  background-color: #ff8f8f;
  border-top: 1px solid #ff8f8f;
  padding: 6px 10px;
}

#cancelBtn:hover {
  background-color: #ffadad;
  transition: 0.4s;
}

.fileToUpload {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.fileToUpload + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.fileToUpload:focus + label,
.fileToUpload + label:hover {
    background-color: red;
}

/* ------------------------- food.php ------------------------- */
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
 /* -webkit-appearance:none; */
}

.restaurantWrapper {
  margin: auto;
  width: 700px;
  height: auto;
  border: 0px solid red;
  text-align: center;
}

#restaurantSearchInput {
  padding-left: 7px;
  font-size: 18px;
  vertical-align: middle;
  width: 400px;
  height: 30px;
  border: 1px solid #d4d4d4;
}

#searchRestaurantBtn {
  vertical-align: middle;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  padding: 7px 10px;
  border: 0px solid black;
  background-color: #99e1d9;
}

#searchResultsSection {
  margin: auto;
  height: 70px;
  width: 550px;
  border: 1px solid black;
  text-align: left;
  margin-bottom: 10px;
  padding: 5px;
}

#searchLeft {
  border: 0px solid blue;
  height: 62px;
  width: 60px;
  float: left;
  padding-top: 4px;
  margin-left: 5px;
}

#searchRight {
  border: 0px solid blue;
  height: 66px;
  width: 471px;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}

#restaurantSearchBoxWrapper {
  margin-top: 20px;
  border: 0px solid green;
}

#topRatedSection {
  width: 340px;
  float: left;
  min-height: 300px;
  border: 0px solid green;
}

#newestSection {
  width: 340px;
  float: left;
  border: 0px solid green;
  min-height: 300px;
}

#topRatedBoxWrapper {
  margin: auto;
  border: 1px solid black;
  width: 300px;
  min-height: 300px;
}

#newestBoxWrapper {
  margin: auto;
  border: 1px solid black;
  width: 300px;
  min-height: 300px;
}

#createRestaurantWrapper {
  padding-top: 30px;
  clear: both;
  border: 0px solid red;
  text-align: left;
  width: 680px;
}

#createRestauranBox {
  margin: auto;
  border: 1px solid black;
  width: 640px;
}

#createRestaurantForm {
  display: none;
  padding: 5px 20px;
}

#manageRestaurantForm {
  display: none;
  padding: 5px 20px;
}

#showCreateRestaurantBtn {
  cursor: pointer;
  border: 0px solid black;
  height: 30px;
  font-size: 14px;
  color: white;
  background-color: #2dcc7c;
}

#showManageRestaurantBtn {
  cursor: pointer;
  border: 0px solid black;
  height: 30px;
  font-size: 14px;
  color: white;
  background-color: #000;
}

.input-hidden {
  position: absolute;
  left: -9999px;
}

#mapWrapper {
  border: 1px solid black;
  margin-left: 4px;
  height: 360px;
  width: 406px;
}

#map {
  height: 300px;
  margin: auto;
  width: 300px;
}

#restaurantGroupWrapper {
  border: 1px solid black;
  margin: 4px;
  height: 178px;
  width: 406px;
}

#restaurantGroupTitle {
  text-align: center;
  background-color: #99e1d9;
}

#restaurantRateTitle {
  text-align: center;
  background-color: #fce8e8;
}

#restaurantMapTitle {
  text-align: center;
  color: #fff;
  background-color: #000; /* #5d576b */
}

#memberWrapper {
  border: 0px solid pink;
  height: 56px;
  text-align: center;
  margin: auto;
  padding-top: 10px;
}

#restaurantHr {
  width: 350px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#requestWrapper {
  border: 0px solid pink;
  height: 54px;
  text-align: center;
  padding-top: 18px;
}

#requestMembershipBtn {
  cursor: pointer;
  border: 0px solid black;
  height: 30px;
  font-size: 14px;
  color: white;
  background-color: #6f00ff;
}

#requestedBtn {
  border: 0px solid black;
  height: 30px;
  font-size: 14px;
  color: white;
  background-color: #f5ba56;
}

#loginBtn {
  border: 0px solid black;
  height: 30px;
  font-size: 14px;
  color: white;
  background-color: #24b3f0;
}

#signupBtn {
  cursor: pointer;
  border: 0px solid black;
  height: 30px;
  font-size: 14px;
  color: white;
  background-color: #2dcc7c;
}

#isMemberBtn {
  border: 0px solid black;
  height: 30px;
  font-size: 14px;
  color: white;
  background-color: #2dcc7c;
}

#reviewCommentTextBox {
  resize:none;
  height: 76px;
  width: 230px;
  border: 1px solid #d6d6d6;
  margin-left: 18px;
}

#reviewSubmitBtn {
  text-align: center;
  display: none;
}

#restaurantSection {
  border: 0px solid red;
  text-align: left;
}

#left {
  padding-top: 4px;
  float: left;
  border-top: 0px solid black;
  border-left: 0px solid black;
  border-bottom: 0px solid black;
  width: 280px;
  height: 550px;
}

#right {
  padding-top: 4px;
  float: left;
  border: 0px solid black;
  border-left: 0px solid black;
  width: 416px;
  height: 550px;
}

#restaurantBox {
  padding: 10px 0px 0px 10px;
  width: 260px;
  border: 1px solid black;
  margin: auto;
  min-height: 350px;
}

#restaurantReviewSection {
  padding-top: 5px;
  overflow:auto;
  clear: both;
  border: 0px solid green;
  margin: auto;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

#reviewTitle {
  font-size: 20px;
}

#restaurantRateWrapper {
  margin: 4px;
  border: 1px solid black;
  height: 178px;
}

#restaurantReviewBox {
  border: 0px solid pink;
  padding-bottom: 10px;
  padding-left: 44px;
  width: 500px;
  margin: auto;
  overflow:auto;
}

#userCommentLeft {
  padding-top: 6px;
  margin-top: 10px;
  border: 1px solid black;
  width: 100px;
  min-height: 80px;
  float: left;
}

#userCommentRight {
  text-align: left;
  padding-top: 6px;
  padding-left: 10px;
  margin-top: 10px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  width: 340px;
  min-height: 80px;
  float: left;
}

#checkRequest {
  border: 0px solid black;
  height: 30px;
  font-size: 14px;
  color: white;
  background-color: #272727;
}

#restaurantChat {
  border: 0px solid black;
  height: 30px;
  font-size: 14px;
  color: white;
  background-color: #24b3f0;
}

#declineRequestBtn {
  border: 0px solid black;
  height: 30px;
  font-size: 14px;
  color: white;
  background-color: #5d576b;
}

#acceptRequestBtn {
  border: 0px solid black;
  height: 30px;
  font-size: 14px;
  color: white;
  background-color: #2dcc7c;
}

#manageRestaurantBtn {
  border: 0px solid black;
  height: 30px;
  font-size: 14px;
  color: white;
  background-color: #2dcc7c;
}

/* ---------------------- profile.php modal ---------------------- */
#profileImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: 250px;
border: black solid 10px;
}

#profileIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 300px;
}

.profileIconApp {
  border: solid black;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 20px;
  height: 50px;
  width: 50px;
}

.profileIconApp:hover {
  opacity: 0.5;
}

.contentBody {
  border: solid black;
  margin: auto;
  height: auto;
  width: 500px;
    padding: 10px
}
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {

  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
/*  border-radius: 50%;*/
  border: solid black;

}

.time-right {
  float: right;
  color: #aaa;
}

/* ---------------------- dashboard.php modal ---------------------- */
.dashboardPhoto {
   float: left;
   width: 50%;
   height: 50%;
   padding: 10px;
}

.column {
   float: left;
   width: 50%;
   padding: 10px;
}

.row:after {
   display: table;
   clear: both;
}
